*{
margin: 10;
padding: 10;
}
input[type=text]{
width:10;
padding:8px;
border-radius:4px;
border:2px solid #aaa;
box-sizing:border-box;
}
input[type=text]:focus{
border-color:dodgerblue;
}
h3{
text-decoration:underline;
color:red;
}
id{
width:80%;
padding:15px;
border-radius:5%;
outline:0;
border:1px solid lightgray;
}
table{
color:white;
background-color:lightgray;
border-collapse:collapse;
font-size:16px;
font-family:serif;
padding:10px;
border:3px solid green;;
text-align:-webkit-center;
}
marquee{
color:bloodred;
}
h2{
font-family:Tahoma;
color:Red;
text-decoration:underline;
}
p{
font-family:arial;
color:black;
}